/*
vždy sa začína postupne, prvý zoznam (ol.mainlist) potom prvok li, v tom prvku je zase podzozham (ol.sublist) a tam ten prvok ktorý chcem upraviť li:first-child
 */
ul.mainlist li ul.sublist li:first-child{
    color: red;
}
ul.mainlist li ul.sublist li:last-child{
    color: green;
}
ul.mainlist li:nth-child(2) ul.sublist{
    color:orange;
}

ul.mainlist span:hover + ul.sublist {
    background-color: green;
}
ul {
    list-style-image: url("img.png");
}
